



.navbar {
  background-color:#3c3a33;
  text-decoration-color: #fff ;
  background-blend-mode: darken;
  top: 20px;
    height: 64px;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* NavBar.css */

/* ... (existing styles) ... */

.navbar-logo {
  width: 8vh; /* Adjust the width as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

/* Adjust the logo size */
.logo-image {
  padding-top: 13px;
  max-width: 100%;
  max-height: 100%;
  padding-left:13px ;
  
}

/* ... (existing styles) ... */

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li {
  position: relative; /* Added this line */
}

.navbar-links li a {
  text-decoration: none;
  color:#fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar ul li::after{
  content:'';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000; /* Ensure it's on top */
}

.dropdown-menu li {
  list-style-type: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.dropdown-menu li a:hover {
  background-color: #f5f5f5;
}

.user-icon {
  cursor: pointer;
}
